* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
}

body {
    height: 1000px;
    background-color: rgba(76, 112, 167, 1);

}

.material-icons.md-60 {
    font-size: 60px;
}

.moon,
.monitor,
.floder,
.personal {
    width: 170px;
    height: 150px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;

}

.navbar {
    width: 100%;
    height: 200px;
    background-color: rgba(49, 78, 122, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.navbar ul {
    display: flex;
    align-items: center;

}

.navbar li {
    position: relative;
    padding: 19px;
    font-size: 30px;

}

.material-icons.md-60.moonlight,
.sleep {
    color: rgba(255, 209, 1, 1);
}

.logo {
    position: absolute;
    top: 91px;
    left: 285px;
    width: 138px;
    height: 108px;
}



@media screen and (max-width:720px) {

    .navbar ul>li,
    .icons {
        display: none;
    }
}

.yellow-ground {
    position: absolute;
    width: 688px;
    height: 766px;
    left: -13px;
    top: 421px;
    border-radius: 0px 140px 140px 0px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
    background: rgba(255, 209, 1, 1);
}

h1 {
    font-size: 53px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bolder;
    line-height: 90px;
    letter-spacing: 0.05em;
    position: absolute;
    top: 510px;
    left: 90px;
    color: rgba(8, 30, 51, 1);
}

h2 {
    font-size: 40px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0.05em;
    position: absolute;
    top: 620px;
    left: 90px;
    color: rgba(8, 30, 51, 1);
}

.lightbar {
    position: absolute;
    width: 120px;
    height: 60px;
    left: 340px;
    top: 635px;
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25);
}

.lightball {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 340px;
    top: 637px;
    background-color: rgba(49, 78, 122, 1);
    border-radius: 100px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

h3 {
    position: absolute;
    left: 90px;
    top: 750px;
    font-size: 40px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bolder;
    line-height: 90px;
    letter-spacing: 0.05em;
    color: rgba(8, 30, 51, 1);
}


.howLong1 {
    position: absolute;
    left: 152px;
    top: 855px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 900;
    line-height: 35px;
    color: rgba(8, 30, 51, 1);
}

.howLong2 {
    position: absolute;
    left: 152px;
    top: 925px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 900;
    line-height: 35px;
    color: rgba(8, 30, 51, 1);
}

.howLong3 {
    position: absolute;
    left: 152px;
    top: 995px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 900;
    line-height: 35px;
    color: rgba(8, 30, 51, 1);
}

.ten{
    position: absolute;
    top: 853px;
    left: 105px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 209, 1, 1);
    border: 4px solid rgba(8, 30, 51, 1);
}

.ten1{
    position: absolute;
    top: 923px;
    left: 105px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 209, 1, 1);
    border: 4px solid rgba(8, 30, 51, 1);
}

.ten2{
    position: absolute;
    top: 993px;
    left: 105px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 209, 1, 1);
    border: 4px solid rgba(8, 30, 51, 1);
}

.dotcolor{
    background-color: rgba(8, 30, 51, 1);
}
